.menu-lista {
    display: flex;

    .item-lista {
        margin-right: 20px;
    }
}

.outro-menu-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .menu-lista, .outro-menu-lista{
        display: flex;
        flex-direction: column;
    }
}